body {
  background-color: #fef6ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 90%;
  margin: 0;
  padding: 0;
}

/* General Layout */
.orders-page {
  padding: 2rem;
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef6ed; 
}

/* Heading */
.orders-page h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #3e2723;
}

/* Tabs */
.order-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.order-tabs button {
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  border: 1px solid #d7ccc8;
  background-color: #fff8f1;
  color: #5d4037;
  cursor: pointer;
  transition: all 0.3s ease;
}

.order-tabs button:hover {
  background-color: #ecd3af;
}

.order-tabs button.active {
  background-color: #bb8d4d;  /* dark brown */
  color: #ffffff;
  font-weight: bold;
}

/* Table */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.orders-table th,
.orders-table td {
  border: 1px solid #e0e0e0;
  padding: 0.75rem 1rem;
  text-align: left;
}

.orders-table th {
  background-color: #ecc999;
  color: #3e2723;
  font-weight: 600;
}

.orders-table tr:hover {
  background-color: #f5f5f5;
}

.orders-table .empty-row {
  text-align: center;
  padding: 1.5rem;
  color: #757575;
  font-style: italic;
}

/* Table */
.reservation-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.reservation-table th,
.reservation-table td {
  border: 1px solid #e0e0e0;
  padding: 0.75rem 1rem;
  text-align: left;
}

.reservation-table th {
  background-color: #ecc999;
  color: #3e2723;
  font-weight: 600;
}

.reservation-table tr:hover {
  background-color: #f5f5f5;
}

.reservation-table .empty-row {
  text-align: center;
  padding: 1.5rem;
  color: #757575;
  font-style: italic;
}

.reservation-page {
  padding: 2rem;
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef6ed; 
}

/* Heading */
.reservation-page h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #3e2723;
}

/* Tabs */
.reservation-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.reservation-tabs button {
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  border: 1px solid #d7ccc8;
  background-color: #fff8f1;
  color: #5d4037;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reservation-tabs button:hover {
  background-color: #ecd3af;
}

.reservation-tabs button.active {
  background-color: #bb8d4d;  /* dark brown */
  color: #ffffff;
  font-weight: bold;
}

.action {
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  border: 1px solid #d7ccc8;
  background-color: #fff8f1;
  color: #5d4037;
  cursor: pointer;
  transition: all 0.3s ease;
}